<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="img/cryptocalc.png" width="32" height="32">
            CryptoCalc
        </a>
    </div>
</div>
